github-workflow-2025-06-05T09-50-56-461Z.json
{
  "name": "GitHub Upload - Final Working Version",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/pruthvipradhan/Documents/n8n && find . -maxdepth 3 -type f ! -name '.*' ! -path '*/node_modules/*' ! -path '*/.git/*' ! -name '*.lock' | head -20"
      },
      "id": "list-files",
      "name": "List Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse file list and create items for each file\nconst output = $input.first().json.stdout || '';\nconst files = output.split('\\n').filter(f => f.trim() && !f.includes('.git'));\n\nconsole.log('Found files:', files);\n\nif (files.length === 0) {\n  return [{ json: { error: 'No files found' } }];\n}\n\n// Return each file as separate item\nreturn files.map(file => {\n  const cleanPath = file.replace('./', '');\n  return {\n    json: {\n      fileName: cleanPath,\n      fullPath: `/Users/pruthvipradhan/Documents/n8n/${cleanPath}`\n    }\n  };\n});"
      },
      "id": "parse-files",
      "name": "Parse Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "=base64 -i \"{{$json.fullPath}}\" | tr -d '\\n'"
      },
      "id": "encode-base64",
      "name": "Encode to Base64",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare final data for GitHub with unique filename\nconst originalFileName = $('Parse Files').item.json.fileName;\nconst base64Content = $input.first().json.stdout.trim();\n\n// Create unique filename with timestamp to avoid conflicts\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst fileExtension = originalFileName.includes('.') ? originalFileName.split('.').pop() : 'txt';\nconst baseName = originalFileName.includes('.') ? originalFileName.split('.').slice(0, -1).join('.') : originalFileName;\nconst uniqueFileName = `${baseName}-${timestamp}.${fileExtension}`;\n\n// Debug logging\nconsole.log('Original file:', originalFileName);\nconsole.log('Unique filename:', uniqueFileName);\nconsole.log('Base64 content length:', base64Content.length);\n\n// Validate data\nif (!originalFileName) {\n  throw new Error('No filename provided');\n}\nif (!base64Content) {\n  throw new Error(`No content for file: ${originalFileName}`);\n}\n\nreturn [{\n  json: {\n    originalFileName: originalFileName,\n    fileName: uniqueFileName,\n    content: base64Content,\n    message: `Upload ${originalFileName} as ${uniqueFileName} via n8n`\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Data with Unique Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Pruthvi-TW/test-repo/contents/{{$json.fileName}}",
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "Authorization",
          "value": "Bearer YOUR_GITHUB_TOKEN_HERE"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{$json.message}}\",\n  \"content\": \"{{$json.content}}\",\n  \"branch\": \"main\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "github-upload",
      "name": "GitHub Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Parse Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Files": {
      "main": [
        [
          {
            "node": "Encode to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode to Base64": {
      "main": [
        [
          {
            "node": "Prepare Data with Unique Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data with Unique Name": {
      "main": [
        [
          {
            "node": "GitHub Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
